.url-png {
  margin-left: 10%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  /* background-color: gray; */
}
/* .Recommended-videos {
  display: flex;
  flex-wrap: wrap;
  margin: 10%;
} */
